body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

img {
    display: block;
}

.container {
    max-width: 1158px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px;
}

.section {
    padding: 120px 0;
}

.page-header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-list {
    color: #2E2F42;
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
}

a {
    text-decoration: none;
}

.header-con {
    display: flex;
    justify-content: space-between;
}

.page-nav {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    display: flex;
    align-items: center;
}

.link {
    color: #2E2F42;
    display: block;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link.activity {
    color: #404BBF;
}

.link.activity::after {
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    content: "";
    background-color: #404BBF;
    left: 0;
    bottom: -1px;
}

.page-nav .link:hover,
.page-nav .link:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.address-list {
    display: flex;
    gap: 40px;
    padding: 24px 0;
}

.address-link {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

.section-one {
    background-color: #2e2f42;
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.header-one {
    color: #ffffff;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    max-width: 496px;
    margin: 0 auto 48px;
}

.bcolor {
    color: #ffffff;
    font-family: Roboto,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    background:  #4D5AE5;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bcolor:hover,
.bcolor:focus {
    background: #404BBF;

}

.section-one > button {
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.64px;
}

.advantage-box {
    display: flex;
    background-color: #f4f4fd;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.section-three {
    background: #f4f4fd;
}

.advantage {
    flex-direction: column;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list-color {
    background-color: #ffffff;
    display: flex;
    gap: 24px;    
}

.adv-list {
    flex-basis: calc((100% - 3 * 24px) / 4);
}

.team {
    display: flex;
    gap: 24px;
    margin-right: 24px;

}

.team:last-child {
    margin-right: 0;
}

.people {
    flex-direction: column;
}

.header-two {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.section-team {
    background-color: #ffffff;
    text-align: center;
    flex-basis: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.name {
    padding: 32px 0;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 8px;
}

.socials-team {
    width: 40px;
    height: 40px;
}

.socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #F4F4FD;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover,
.socials-link:focus {
    background-color: #404BBF;
}

.socials-icon {
    fill: currentColor;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.applications {
    flex-direction: column;
}

.products {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.products:hover .overlay{
    transform: translateY(0);
}

.apps {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.app-overlays {
    overflow: hidden;
    position: relative;
}

.overlay {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    position: absolute;
    color: #F4F4FD;
    background-color: #4D5AE5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-three {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.pagetext {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.logoweb {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    margin-right: 76px;
}

.studioheader {
    color:#2E2F42;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    align-items: center;
    display: inline-block;
    margin-bottom: 16px;
}

.studiofooter {
    color: #F4F4FD;
    font-family: Raleway,sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.footercolor {
    background: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
    display: block;
}

.boxfooter {
    display: flex;
    align-items: baseline;
}

.logo-footer {
    display: block;
    margin-right: 120px;
}

.footer-media {
    display: inline-block;
}

.footer-form {
    margin-left: auto;
}

.sub-form {
    display: flex;
    align-items: center;
    gap: 24px;
}

.sub-text {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
}

.mail-input {
    width: 264px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 4px;
    color: #ffffff;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding-left:16px;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.04em;
    background-color: transparent;
    outline: transparent;
}

.mail-input::placeholder {
    color: #ffffff;
}

.sub-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 165px;
    padding: 8px 24px;
    color:#FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    border-radius: 4px;
    background:#4D5AE5;
    border: none;
    cursor: pointer;
}

.sub-btn:hover,
.sub-btn:focus {
    background: #404BBF;

}

.sub-icon {
    fill: #ffffff;
    margin-left: 16px;
}

.footertext {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    max-width: 264px;
}

.footer-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.footer-socials-team {
    width: 40px;
    height: 40px;
}

.footer-socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #F4F4FD;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-link:hover {
    background-color: #31D0AA;
}

.footer-socials-link:focus {
    background-color: #31D0AA;
}

.footer-socials-icon {
    fill: currentColor;
}

.mediatext {
    color:#FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
}

.backdrop {
    background-color: rgba(46, 47, 66, 0.40);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}

.modal {
    padding: 72px 24px 24px 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 408px;
    min-height: 584px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #FCFCFC;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
}

.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #2e2f42;
    border-radius: 50%;
}

.modal-btn:hover {
    fill: #ffffff;
    background-color: #404bbf;
    border: none;
}

.modal-btn:focus {
    fill: #ffffff;
    background-color: #404bbf;
    border: none;
}

.modal-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
    color: #2E2F42;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
}

.form-label {
    display: block;
    letter-spacing: 0.04em;
    font-size: 12px;
    line-height: 1.17;
    color: #8e8f99;
    margin-bottom: 4px;
}

.form-field {
    position: relative;
    margin-bottom: 8px;
}

.input-field {
    position: relative;
}

.comment-field {
    margin-bottom: 16px;
}

.form-input {
    width: 100%;
    height: 40px;
    font-size: 12px;
    padding-left: 38px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
}

.form-input:focus {
    border-color: #4D5AE5;
}

.form-comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment:focus {
    border-color: #4D5AE5;
}

.form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-icon {
    fill: #4D5AE5;
}

.check-label {
    margin-bottom: 24px;
}

.checkbox-accent {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    color: #4D5AE5;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1),fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
}

input:checked + label > span {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

input:focus + label > span {
    border-color: #4D5AE5;
}

.policy {
    color: #4D5AE5;
}

.submit-btn {
    color: #FFFFFF;
    display: block;
    text-align: center;
    justify-content: center;
    min-width: 169px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    border-radius: 4px;
    border: none;
    background: #4D5AE5;
    padding: 16px 32px;
    margin: 0 auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:hover,
.submit-btn:focus {
    background: #404BBF;

}